@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  margin: 22.22px;
}

ul {
  list-style-type: none;
}

/* Form */
.kv-form {
  margin: 15px 0 0 0;
}

/* Field label */
.kv-form > ul > li > label {
  font-size: 14px;
  font-weight: bold;
}

/* Field last item */
.kv-form > ul > li:last-of-type {
  margin-bottom: 13px;
}

/* Submit button */
.kv-form > ul > button {
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 7px 25px;
}

/* Field input */
.kv-form > ul > li > input {
  padding: 2px 0 0 3px;
  max-width: 270px;
  width: 100%;
}
